<div >
    <h3>Agrega un alumno</h3>
    <form action="/tasks/add" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title"/>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Matricula</label>
            <textarea class="form-control" id="description" cols="80" name="description" placeholder="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="sexo" class="form-label">Sexo</label>
            <input type="radio" name="sexo" id="sexo" value="Hombre" autofocus>Hombre
            <input type="radio" name="sexo" id="sexo" value="Mujer">Mujer
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div