<div class="container">
    <div class="row">
        <div class="p-4 rounded-10">
            <h1>Editar calificación del alumno</h1>
            <form action="/tasks/{{task._id}}/edit" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre del alumno:</label> <br>
                <label class="btn btn-light w-100" style="text-align: left;">{{task.name}}</label>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Matrícula:</label> <br>
                <label class="btn btn-light w-100" style="text-align: left;">{{task.matricula}}</label>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Calificación:</label>
                <input class="form-control" id="calificacion" cols="80" name="calificacion" placeholder="Calificación" value="{{task.calificacion}}"></input>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>