<div class="container p-5">
    <div class="row">
        <div class="col-md-5 ">
            {{>tasks/taskForm}}
        </div>
    </div>
    <div class="col-md-3 float-right">
            <h1>Ver promedio del salon</h1>
            <a href="/list">Ver alumnos</a>
            {{!-- {{>tasks/taskTable}} --}}
    </div>
</div